h1,h2,h3,h4,h5,h6,p,ul{
    margin:0;
}
ul{
    list-style: none;
    padding-left: 0;
}
h3,h4{
    margin-top: 15px;
    margin-bottom: 15px;
}
p{
    margin-top: 5px;
    margin-bottom: 5px;
}
li{
    margin-bottom: 3px;
}